/* Main*/
    /*contentfirst*/

        .content-gal {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
			justify-content: center;
        }

        .content-gal-item {
            width: calc((100% - 100px) /3);
            margin-right: 50px;
        }

        .content-gal-item:nth-child(3n) {
            margin-right: 0
        }


        .content-gal-ton {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

		.content-gal-ton .content-gal-item {
            width: calc((100% - 50px) /2);
            margin-right: 50px;
        }

		.content-gal-ton .content-gal-item:nth-child(even) {
            margin-right: 0;
        }

        .content-gal-item img {
            width:100%;
        }

		content-gal-ton, h3{
		line-height: 2em;
}

        .wrapper.style2 {
            padding-top: 0;
                }

        .contentfirst{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        .contentpic{
            width: calc((70% - 80px) /2);
            margin-right:90px;    
        }

        .contentpic img{ 
            width: 100%;
            padding-top: 5em;
        }

        .bulletpoint{
            color: #000000;
            font-size: 30px;
            line-height: 65px;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            text-transform: none !important;
            font-weight: 300;
            align-items: center;
        }

        .marginzubulletpoint, .p{
            padding-bottom: 1em;
            padding-top: 1em;
            line-height: 0px;
        }
    /*Header*/

        #inner{
        background: #3c5e47;    
        }


         
.headerstart {
    padding-top: 2em;
}

/*Footer*/    
.faillist{
    margin-top: 3em;
}

.faillist li{
    margin-left: 2em;
}

.faillist h3{
    padding-bottom: 1em;
}

.faillist img{
    width: 100%;
}

.contact, p{
 color: #fff;
}






